@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$color-prim:#9356DC;
$color-sec:#FF79DA;
$color-ter:#99E2D0;
$color-shadow:grey;

@mixin color-gradient-shadow ($color1:$color-prim, $color2:$color-sec, $color3:$color-shadow, $val:0%, $blur:10px){
    background: linear-gradient(to top left, lighten($color1,$val), lighten($color2,$val) 95%);
    box-shadow: 0 2px $blur darken($color3,$val);
}

@mixin like ($color:black,$color2:$color-sec,$color_shadow:$color-prim) {
        .heart{
        margin: 10px;
        width: 25px;
        height: 25px;
        font-size: x-large;
        position: relative;

        &:hover{
            > .heart__full{
                transform: scale(1);
            }
            > .heart__full--modified{
                transform: scale(1.1);
            }
        }

        &__full{
            color: $color;
            position: absolute; 
            transform: scale(0);
            transform-origin: 50% 90%;
            left: 0;
            right: 0;
            z-index: 1;
            transition: transform 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
            
            &--modified{
                color: $color2;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 3;
                text-shadow: 0 0 8px $color-shadow;
                transform: scale(0);
                transition: transform 250ms 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);    
            }
        }

        &__empty{
            color: black;
            position: absolute;
            z-index: 2;
        }
    }
}


@keyframes moveup{
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}   



body{
    font-family: "roboto";
    max-width: 1000px;
    margin: 0 auto;

    a{
        text-decoration: none;
        }
    }

.anim{
    margin-top: 100px;
    max-width: 1000px;
    width: 100%;
    animation: invisible 250ms linear 2500ms 1 forwards;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}    

@keyframes invisible {
    from{
        opacity: 1;
    }
    to{
        opacity:0;
    }
}

    .spinner{
        margin: auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top: 5px white solid;
        border-right: 5px $color-ter solid;
        border-bottom: 5px $color-ter solid;
        border-left: 5px $color-ter solid;
        outline: 2px $color-prim solid;
        box-shadow: 0px 0px 20px $color-prim;
        transform: scale(0);
        rotate: (720deg);
        animation: turn 2500ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 100ms 1 both;
    }

    @keyframes turn {
        0%{
            transform: rotate(0deg) scale(0);
        }
        25%{
            transform: rotate(0deg) scale(1);
        }
        30%{
            transform: rotate(100deg);
        }
        50%{
            transform: rotate(200deg);
        }
        70%{
            transform: rotate(320deg);
        }
        100%{
            transform: rotate(720deg) scale(0);
        }
    }
    .loading{
        font-size: x-large;
        font-family:"Shrikhand";
        color: $color-sec;
        width: 100%;
        text-align: center;
        text-shadow: 1px 1px $color-prim;
        transform: scale(1);
        animation: invisible 500ms linear 100ms 1 reverse backwards;

        .small-btn{
            opacity: 1;
            animation: point 1000ms ease-in-out infinite both;
            &--mod{
                opacity: 1;
                animation: point 1000ms 100ms ease-in-out infinite both;
    
            }
        }
    }
    
    @keyframes point{
        0%{
            opacity: 1;
        }
        25%{
            
        }
        50%{
            opacity: 0;
        }
        75%{
    
        }
        100%{
            opacity:1;
        }
    }
    

    main{
        opacity: 0;
        animation: invisible 250ms linear 2500ms 1 reverse both;
    }

// HEADER //
.header-home{

    &__mainlogo{
        margin-top: 10px;
        padding: 15px;
        text-align: center;
    }
}

// SECTION RECHERCHE //
.search{

    &__form{
        background-color: rgb(237, 237, 237);
        box-shadow: 0 3px 5px lightgrey inset;
        padding: 15px;
        text-align: center;

        label{
            margin-right: 8px;
        }

        input{
            background-color: rgb(237, 237, 237);
            color: black;
            border: none;
            font-size: large;
        }

        ::placeholder{
            color: black;
        }
    }
}

// SECTION EXPLORE //
.explore{
    
    background-color: whitesmoke;
    padding: 25px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    &__title{
        text-align: center;
        margin: 0;
    }

    &__line{
        margin: 10px 0 25px 0;
        text-align: center;
        font-weight: 300;
    }
}

    .btn{
        text-align: center;
        border-radius: 25px;
        padding: 15px 10px;
        @include color-gradient-shadow;

        &:hover{
            @include color-gradient-shadow($val:5%, $blur:15px);
        }

        a{
            color: white;
            padding: 10px;
            font-weight: 400;
        }
        &--larger{
            padding: 15px 50px;
        }
    }


// SECTION WORK (FONCTIONNEMENT) //
.work{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;

    &__title{
        margin-bottom: 5px;
    }

    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        &__list{
            background-color: whitesmoke;
            box-shadow: 0 3px 8px lightgrey;
            border-radius: 20px;
            padding: 8px 0;
            width: 300px;
            position: relative;
            margin-top: 20px;

            &--violet{
                background-color: lighten($color-prim, 35%);
            }
        }

        .cercle{
            text-align: center;
            font-size: 12px;
            position: absolute;
            left: -10px;
            top: 35%;
            border-radius: 100px;
            padding: 3px;
            width: 15px;
            color: white;
            background-color: #9356DC;
        }

        .icontext{
            padding: 0 25px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: black;
            font-weight: 500;

            i{
                font-size: 18px;
                color: grey;
                margin-right: 10px;
            }

            &--violet i{
                color: #9356DC;
            }
        }
    }
}

// SECTION RESTAURANT //

.restaurant{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    &-title{
        color:black;
    }

    &-container{
        display: flex;
        flex-flow: row wrap; 
        justify-content: space-between;
        align-items: center;
        width: 100%; 
        margin: auto;   
    }
}

.card{
    background-color: white;
    box-shadow: 0 3px 8px lightgrey;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;

    &__pics{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 70%;
        position: relative;

        .new{
            font-size: small;
            font-weight: bold;
            background-color: #99E2D0;
            box-shadow: 0 3px 8px grey;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 5px 10px;
        }

        .pic{
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 100%;
        }
    }

    &__text{
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .info{
            h3, p{
                color: black;
                margin: 0;
                font-size: 15px;
            }   
        }
        @include like;
    }
    
}

// SECTION FOOTER //

.footer{
    background-color: rgb(50, 50, 50);
    padding: 20px;

    &__title{
        color:white;
        font-family: "Shrikhand";
        text-decoration: none;
    }
    ul{
        padding-left: 0;

        li{
        list-style: none;
        margin-bottom: 5px;
        
            a{
            color: white;
            }
        }
    }
}

// PAGE - LA PALETTE DU GOUT //
.header-page{

    &__pagelogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 15px;

        .arrowback{
            font-size: x-large;
        }

        &::after{
            content:"";
            // utilisation de ::after pour centrer le logo avec spacebetween // 
        }
    }

    &__img{
        width: 100%;
        height: 210px;

        img{
            object-fit: cover;
            width: 100%;
            max-width: 1000px;
            height: 250px;
            position: absolute;
            z-index: -1;
        }
    }   
}

.resto-title{
    background-color: whitesmoke;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content:space-around;
    align-items: center;

    h1{
        font-family: "shrikhand";
        font-weight: 500;
    }
    
    @include like (black, $color-prim,$color-sec);
    }

.project{
    background-color: whitesmoke;
    padding: 20px;

    &__title{
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 300;
        font-size: medium;

        span{
            text-decoration: underline #99E2D0 3px;
            text-underline-offset: 8px;
        }
    }

    .container-page{
        background-color: white;
        box-shadow: 0 2px 10px lightgrey;
        width: 90%;
        padding: 15px;
        margin: 15px auto; 
        border-radius: 15px;
        position: relative;
        overflow: hidden;

        &--starters{
            animation: moveup 500ms linear 500ms both;
        }
        &--dishes{
            animation: moveup 500ms linear 1000ms both;
        }
        &--desserts{
            animation: moveup 500ms linear 1500ms both;

        }

        &:hover{
            &::after{
                transform: scaleX(1);
            }
            h3{
                margin-right: 80px;
            }
            p{
                margin-right: 80px;
            }
            span{
                transform: translateX(-60px);
            }
            .check{
                transform: translateX(-44px) rotate(1turn);
            }
        }

        &::after{
            content: "";
            width: 60px;
            height: 101%;
            background-color: #99E2D0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 300ms linear;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__title{
            margin: 0;
            margin-right: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: margin-right 300ms;
        }

        &__textandprice{
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            p{
                margin:0;
                margin-right: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition: margin-right 300ms;
            }

            span{
                font-weight: bold;
                transform: translateX(0);
                transition: all 300ms linear;
            }
        }

        .check{
            font-size: 25px;
            color: rgb(255, 255, 255);
            position: absolute;
            z-index: 1;
            right: -25px;
            top: 24px;
            transform: translate(0) rotate(0turn);
            transition: all 300ms linear;
        }        
    }
}

.command{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 40px 20px;
}
